<section class="customer overflow-hidden">
  <h2>Happy Customers</h2>
  <p>India’s Top Professionals Trust SmartCards</p>
  <div class="customer-container d-flex">
    <div class="customer-image-wrapper me-4">
      <img src="../../../../assets/images/customer1.webp" />
    </div>
    <div class="customer-image-wrapper me-4">
      <img src="../../../../assets/images/customer2.jpg" />
    </div>
    <div class="customer-image-wrapper me-4">
      <img src="../../../../assets/images/customer3.webp" />
    </div>
    <div class="customer-image-wrapper me-4">
      <img src="../../../../assets/images/customer1.webp" />
    </div>
    <div class="customer-image-wrapper">
      <img src="../../../../assets/images/customer3.webp" />
    </div>
  </div>
</section>
