<section class="px-3 py-5">
  <h1 class="text-center fw-bold mb-4">Features</h1>
  <div class="row p-5">
    <div class="col-6 p-5">
      <h1 class="fw-bold text-primary">No App. One Instant Tap</h1>
      <p class="mt-4">
        Others don’t need an app to connect with you. All it takes is an
        NFC-enabled device and one tap of your super smart card to instantly
        share all your contact details with the person next to you.
      </p>
    </div>
    <div class="col-6 d-flex align-items-center justify-content-center">
      <div class="image-wrapper border-2">
        <img src="../../assets/images/card-design.png" />
      </div>
    </div>
  </div>
  <div class="row p-5">
    <div class="col-6 d-flex align-items-center justify-content-center">
      <div class="image-wrapper border-2">
        <img src="../../assets/images/card-mobile.jpg" />
      </div>
    </div>
    <div class="col-6 p-5 d-flex flex-column justify-content-center">
      <h1 class="fw-bold text-primary">Update Info - Anytime, Anywhere</h1>
      <p class="mt-4">
        Nothing is set in stone, especially not your details. With the
        SmartCards app , change, remove, add, or update your info anytime and
        even choose what to share with who. (No Kidding)
      </p>
    </div>
  </div>
  <div class="row p-5">
    <div class="col-6 p-5 d-flex flex-column justify-content-center">
      <h1 class="fw-bold text-primary">
        Have All Your Connections In One Place
      </h1>
      <p class="mt-4">
        OCD folks, we’ve got you covered. Never again struggle through the
        clutter when you get access to your entire network in one place.
      </p>
    </div>
    <div class="col-6">
      <div class="image-wrapper border-2">
        <img src="../../assets/images/card-mobile2.gif" class="h-100 w-100" />
      </div>
    </div>
  </div>
</section>
