<section class="px-3 py-5">
  <div class="d-flex flex-column align-items-center">
    <h1 class="fw-bold mb-3">Do you have any Questions?</h1>
    <p>
      for any query contact us at
      <span class="text-primary">1234567890</span> or fill the form
    </p>
  </div>
  <div class="contact-form bg-secondary mt-4 p-5 m-auto rounded">
    <form>
      <div class="mb-3">
        <input type="text" class="form-control p-3" placeholder="Name" />
      </div>
      <div class="mb-3">
        <input type="text" class="form-control p-3" placeholder="Email" />
      </div>
      <div class="mb-3">
        <input
          type="text"
          class="form-control p-3"
          placeholder="Phone Number"
        />
      </div>
      <div class="mb-3">
        <textarea
          rows="3"
          class="form-control p-3"
          placeholder="Message"
        ></textarea>
      </div>
      <div>
        <button type="submit" class="btn btn-primary py-2 px-4 text-white">
          Send Now
        </button>
      </div>
    </form>
  </div>
</section>
