<section class="about px-3 py-5">
  <div class="row align-items-center gx-0">
    <div class="col-6 p-5">
      <h1 class="fw-bold mb-4">
        Making networking better and connecting smarter, one Tap at a time.
      </h1>
      <p class="text-justify mb-4">
        Networking is the most inevitable part of every person’s life, so we
        thought of making it smarter and easier for you. And guess what? We did.
      </p>
      <p class="text-justify">
        We are a team of passionate and experienced individuals who have a head
        for technology and a heart for the world. This insane combination has
        led to the birth of TAPONN - the synonym for smart networking.
      </p>
    </div>
    <div class="col-6">
      <div class="image-wrapper">
        <img src="../../assets/images/card.webp" class="h-100 w-100" />
      </div>
    </div>
  </div>
</section>
