$primary: #148b60;
$secondary: #111111;
$dark: #000000;

//body color variable
$body-bg: $dark;
$body-color: white;

//navlink color
$nav-link-color: white;
$nav-link-hover-color: $primary;

//accordion background color
$accordion-bg: $secondary;
$accordion-button-active-bg: $secondary;
$accordion-button-active-color: white;
$accordion-button-focus-box-shadow: white;
$accordion-icon-active-color: white;

//input colors
$input-border-color: rgb(152, 151, 151);
$input-placeholder-color: rgb(152, 151, 151);