* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body,
html {
    height: 100%;
    width: 100%;
}

body {
    font-family: $font-family-base;
}

ul,
li {
    list-style: none;
}

a {
    all: unset
}

.text-justify {
    text-align: justify;
}