//body font-family
$font-family-base: 'Montserrat', sans-serif;

//heading & paragraph margin bottom
$paragraph-margin-bottom: 0;
$headings-margin-bottom: 0;

//accordion
// $accordion-button-icon: url()
$accordion-button-padding-y: 22px;
$accordion-button-padding-x: 22px;