<section
  class="header w-100 d-flex align-items-center justify-content-between p-3"
>
  <figure class="logo-wrapper">
    <img src="./../../../../assets/images/logo.png" class="logo" />
  </figure>
  <ul class="nav">
    <li class="nav-item">
      <a class="nav-link fw-bold" routerLink="home" routerLinkActive="active"
        >Home</a
      >
    </li>
    <li class="nav-item">
      <a class="nav-link fw-bold">Company</a>
    </li>
    <li class="nav-item">
      <a
        class="nav-link fw-bold"
        routerLink="collections"
        routerLinkActive="active"
        >Shop</a
      >
    </li>
    <li class="nav-item">
      <a
        class="nav-link fw-bold"
        routerLink="features"
        routerLinkActive="active"
        >Features</a
      >
    </li>
    <li class="nav-item">
      <a
        class="nav-link fw-bold"
        routerLink="contact-us"
        routerLinkActive="active"
        >Contact us</a
      >
    </li>
  </ul>
  <div>
    <span class="icon-search text-primary fs-4 me-4"></span>
    <span class="icon-person text-primary fs-4 me-4"></span>
    <span class="icon-cart text-primary fs-4"></span>
  </div>
</section>
