<div class="menu bg-dark">
  <ul class="p-3 border border-sm border-secondary" *ngIf="isCompany">
    <li class="p-2">
      <a class="nav-link" routerLink="about-us" (click)="closeDialog()"
        >About Us</a
      >
    </li>
    <li class="p-2">
      <a class="nav-link" routerLink="career" (click)="closeDialog()">Career</a>
    </li>
    <li class="p-2">
      <a class="nav-link" routerLink="faqs" (click)="closeDialog()">FAQs</a>
    </li>
    <li class="p-2">
      <a class="nav-link" routerLink="media" (click)="closeDialog()">Media</a>
    </li>
  </ul>
  <ul class="p-3 border border-sm border-secondary" *ngIf="!isCompany">
    <li class="p-2">
      <a class="nav-link" routerLink="#" (click)="closeDialog()"
        >Design Your Cards</a
      >
    </li>
    <li class="p-2">
      <a
        class="nav-link"
        routerLink="collections/classic-smart-card"
        (click)="closeDialog()"
        >Classic Smart Cards</a
      >
    </li>
    <li class="p-2">
      <a
        class="nav-link"
        routerLink="collections/nfc-business-cards"
        (click)="closeDialog()"
        >Premium Smart Cards</a
      >
    </li>
    <li class="p-2">
      <a
        class="nav-link"
        routerLink="collections/smart-acessories"
        (click)="closeDialog()"
        >Smart Accessories</a
      >
    </li>
  </ul>
</div>
