<div class="menu">
  <ul class="p-3 border border-sm border-secondary">
    <li class="p-2">
      <a class="nav-link" routerLink="about-us">About Us</a>
    </li>
    <li class="p-2"><a class="nav-link" routerLink="career">Career</a></li>
    <li class="p-2"><a class="nav-link" routerLink="faqs">FAQs</a></li>
    <li class="p-2"><a class="nav-link" routerLink="media">Media</a></li>
  </ul>
  <ul class="p-3 border border-sm border-secondary">
    <li class="p-2">
      <a class="nav-link" routerLink="#">Design Your Cards</a>
    </li>
    <li class="p-2">
      <a class="nav-link" routerLink="classic-smart-card"
        >Classic Smart Cards</a
      >
    </li>
    <li class="p-2">
      <a class="nav-link" routerLink="nfc-business-cards"
        >Premium Smart Cards</a
      >
    </li>
    <li class="p-2">
      <a class="nav-link" routerLink="smart-acessories">Smart Accessories</a>
    </li>
  </ul>
</div>
