.header {
    height: 90px;

    .logo-wrapper {
        height: 60px;

        .logo {
            height: 100%;
            width: 100%;
        }
    }

    .active {
        color: $primary;
    }
}

.nav-link {
    cursor: pointer;
}

.menu {
    width: 200px
}