.shop {
    .image-wrapper {
        height: 140px;
        width: 290px;

        img {
            height: 90%;
            width: 90%;
        }
    }

    .socket {
        img {
            height: 120px;
            width: 120px;
        }
    }

    .img-wrapper {
        img {
            height: 100%;
            width: 100%;
        }
    }

    .tapon-img-wrapper {
        height: 550px;

        img {
            height: 100%;
            width: 100%;
        }
    }
}