<section class="first-section p-3">
  <div class="row h-100">
    <div
      class="col-6 d-flex flex-column justify-content-center align-items-center"
    >
      <h2>#FutureOfSmartNetworking</h2>
      <p class="header1 text-center">Don't Try So Hard To Network</p>
      <h2>______ JUST TAP ON ______</h2>
      <div class="mb-4">
        <img src="./../../assets/images/logo.png" />
      </div>
      <button type="button" class="btn btn-primary py-2 px-4 text-white">
        ShopNow
      </button>
    </div>
    <div class="col-6">
      <div
        id="carouselExampleSlidesOnly"
        class="carousel slide h-100"
        data-bs-ride="carousel"
      >
        <div class="carousel-inner h-100">
          <div class="carousel-item active h-100">
            <img
              src="../../assets/images/homepage1.jpg"
              class="d-block w-100 h-100 object-fit-cover"
              alt=""
            />
          </div>
          <div class="carousel-item h-100">
            <img
              src="../../assets/images/homepage2.webp"
              class="d-block w-100 h-100 object-fit-cover"
              alt=""
            />
          </div>
          <div class="carousel-item h-100">
            <img
              src="../../assets/images/homepage3.jpg "
              class="d-block w-100 h-100 object-fit-cover"
              alt=""
            />
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="p-5">
  <div class="d-flex justify-content-between">
    <div class="d-flex flex-column align-items-center">
      <div class="icon-wrapper">
        <span class="icon icon-check text-primary"></span>
      </div>
      <span class="mt-3">No App Needed</span>
    </div>
    <div class="d-flex flex-column align-items-center">
      <div class="icon-wrapper">
        <span class="icon icon-wifi text-primary"></span>
      </div>
      <span class="mt-3">NFC Powered</span>
    </div>
    <div class="d-flex flex-column align-items-center">
      <div class="icon-wrapper">
        <span class="icon icon-gear text-primary"></span>
      </div>
      <span class="mt-3">Fully Customizable</span>
    </div>
    <div class="d-flex flex-column align-items-center">
      <div class="icon-wrapper">
        <span class="icon icon-leaf text-primary"></span>
      </div>
      <span class="mt-3">Eco-Friendly</span>
    </div>
    <div class="d-flex flex-column align-items-center">
      <div class="icon-wrapper">
        <span class="icon icon-rupee text-primary"></span>
      </div>
      <span class="mt-3">100% Money Back </span>
    </div>
  </div>
</section>
<section class="px-3 py-5">
  <app-customers></app-customers>
</section>

<section class="px-3 py-5">
  <div class="row">
    <div class="col-6 d-flex flex-column justify-content-center">
      <p>Just like your Dad’s card, but smarter.</p>
      <h1 class="fw-bold my-4">Smart Cards</h1>
      <p class="mb-3">
        Embrace the smartness of the new without letting go of the authenticity
        of the old.
      </p>
      <p class="mb-3">
        Add a splash of color to it or let the monochrome shine through, who are
        we to tell?
      </p>
      <div>
        <button type="button" class="btn btn-primary py-2 px-4">
          <span class="text-white">Explore Cards</span>
        </button>
      </div>
    </div>
    <div class="col-6 d-flex align-items-center justify-content-center">
      <div class="image-wrapper">
        <img src="../../assets/images/card-design.png" />
      </div>
    </div>
  </div>
  <div class="row">
    <div></div>
  </div>
</section>

<section class="px-3 py-5">
  <div class="row">
    <div class="col-6 d-flex flex-column justify-content-center">
      <p>Smart Coins | Sockets</p>
      <h1 class="fw-bold my-4">Smart Accessories</h1>
      <p class="mb-3">
        If clumsy is your last name, we've got you covered too. Make smart
        networking cool by attaching the smart coin to your phone and building
        connections on the go.
      </p>
      <div>
        <button type="button" class="btn btn-primary py-2 px-4">
          <span class="text-white">Explore More</span>
        </button>
      </div>
    </div>
    <div class="col-6 d-flex justify-content-center align-items-center">
      <div class="image-wrapper">
        <img src="../../assets/images/socket3.png" />
      </div>
    </div>
  </div>
  <div class="row">
    <div></div>
  </div>
</section>

<section class="px-3 py-5">
  <div class="row">
    <div class="col-6 d-flex flex-column justify-content-center">
      <h1 class="fw-bold my-4">Customise TapOnn Card In Few Clicks!</h1>
      <p class="mb-3">
        Everyone has their own personality, with TapOnn design and customise
        your card your way. Create unique First Impression and make connections
        with a Tap.
      </p>
      <div>
        <button type="button" class="btn btn-primary py-2 px-4">
          <span class="text-white">Design Your Card Now</span>
        </button>
      </div>
    </div>
    <div class="col-6 d-flex justify-content-center align-items-center">
      <div class="image-wrapper">
        <img src="../../assets/images/smartcards.png" />
      </div>
    </div>
  </div>
</section>

<section>
  <app-faq></app-faq>
</section>

<section class="px-3 py-5">
  <div class="d-flex flex-column align-items-center">
    <h1 class="text-primary fw-bold mb-3">Smart Cards/ Coin</h1>
    <img-comparison-slider>
      <img slot="first" src="../../assets/images/card.webp" />
      <img slot="second" src="../../assets/images/card-mobile.jpg" />
      <svg
        slot="handle"
        role="presentation"
        focusable="false"
        width="28"
        height="35"
        viewBox="0 0 32 40"
      >
        <path
          d="M0 16C0 7.16344 7.16344 0 16 0C24.8366 0 32 7.16344 32 16V24C32 32.8366 24.8366 40 16 40C7.16344 40 0 32.8366 0 24V16Z"
          fill="#ffffff"
        ></path>
        <path
          fill="#000000"
          d="M11 14H13V26H11zM15 14H17V26H15zM19 14H21V26H19z"
        ></path>
      </svg>
    </img-comparison-slider>
  </div>
</section>
